.profile {
  max-width: 300px;
  margin: 40px auto 0;
  background-color: #ffffff;
  box-shadow: #b7c1d0 0px 1px 4px;
  border-radius: 4px;
  overflow: hidden;
}

.description {
  text-align: center;
  padding: 24px;
}

.avatar {
  width: 160px;
  margin: 0 auto 24px;
  background-color: #f3f6f9;
  border-radius: 50%;
}

.name {
  margin-bottom: 8px;
  font-weight: 700;
}

.tag {
  margin-bottom: 8px;
  color: #768696;
}

.location {
  color: #768696;
}

.stats {
  display: flex;
  background-color: #f3f6f9;
}

.stat_item {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 4px;
  align-items: center;
  border-top: 1px solid #e4e9f0;
  padding-top: 24px;
  padding-bottom: 24px;
}

.stat_item:not(:last-child) {
  border-right: 1px solid #e4e9f0;
}

.label {
  font-size: 14px;
  color: #768696;
}

.quantity {
  font-weight: 700;
}
